
overflow: initial;

layout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-flow: wrap;

	&.hide-sidebar {
		sidebar {
			left: -150px;
			width: 0;
		}
	}
}

sidebar {
	width: 150px;
	overflow-x: hidden;
	user-select: none;
}

content {
	flex: auto;
	position: relative;
	white-space: nowrap;
	font-family: Arial;
}
